In [1]:
print("fareha")

fareha

In [56]:
import numpy as np 
import pandas as pd

In [57]:
train=pd.read_csv('customer_churn_dataset-training-master.csv')
test=pd.read_csv('customer_churn_dataset-testing-master.csv')

In [58]:
train.head(2)

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0

In [59]:
test.head(2)

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,1,22,Female,25,14,4,27,Basic,Monthly,598,9,1
1,2,41,Female,28,28,7,13,Standard,Monthly,584,20,0

In [60]:
test.dropna(inplace=True)
test.reset_index(drop=True, inplace=True)
train.dropna( inplace=True)
train.reset_index(drop=True, inplace=True)

In [61]:
test.isnull().sum(),train.isnull().sum()

(CustomerID           0
 Age                  0
 Gender               0
 Tenure               0
 Usage Frequency      0
 Support Calls        0
 Payment Delay        0
 Subscription Type    0
 Contract Length      0
 Total Spend          0
 Last Interaction     0
 Churn                0
 dtype: int64,
 CustomerID           0
 Age                  0
 Gender               0
 Tenure               0
 Usage Frequency      0
 Support Calls        0
 Payment Delay        0
 Subscription Type    0
 Contract Length      0
 Total Spend          0
 Last Interaction     0
 Churn                0
 dtype: int64)

In [62]:
test.shape

(64374, 12)

In [63]:
train.shape

(440832, 12)

In [64]:
X_train=train.drop(columns=['Churn','CustomerID'],axis=1)
X_test=test.drop(columns=['Churn','CustomerID'],axis=1)
y_train=train['Churn']
y_test=test['Churn']

In [66]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((440832, 10), (64374, 10), (440832,), (64374,))

In [67]:
X_train.head(2)

,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction
0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0
1,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0

In [68]:
X_train['Subscription Type'].unique()

array(['Standard', 'Basic', 'Premium'], dtype=object)

In [69]:
X_train['Contract Length'].unique()

array(['Annual', 'Monthly', 'Quarterly'], dtype=object)

In [70]:
X_train['Gender'].unique()

array(['Female', 'Male'], dtype=object)

## pipeline

In [74]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [75]:
# data encoding transformer
#gender label
#subsciption and contract length ordinal encoding 
trf1=ColumnTransformer([
    ('impute_gender', OneHotEncoder(drop='first'), [1]), 
    ('impute_subscription',OrdinalEncoder(categories=[['Basic','Standard','Premium']]),[6]),
    ('impute_contract',OrdinalEncoder(categories=[['Quarterly','Monthly','Annual']]),[7])

],remainder='passthrough')